/* body {
  background-image: url("https://media.nbcconnecticut.com/images/1200*810/101208-Traffic-Cars.jpg");
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -99;
}

body:after {
  display: block;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -98; 
  background: rgba(0,0,0,0.85);
} */



